<h1>Home</h1>
<div class="mt-4">
    <div class="row">

        {{#each users}}
            <div class="col-sm-6 col-lg-4">
                <div class="card card-item" style="width: 18rem;">
                    <a href="/users/{{this.slug}}">
                        <img class="card-img-top" src="{{this.avatar}}" alt="{{this.name}}">
                    </a>
                    <div class="card-body">
                        <a href="/users/{{this.slug}}">
                            <h5 class="card-title">{{this.name}}</h5>
                        </a>
                        <p class="card-text">{{this.quotes}}</p>
                        <a href="#" class="btn btn-primary">Kết bạn</a>
                    </div>
                </div>
            </div>
        {{/each}}

    </div>
</div> 